        @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
        /* font-family: 'Rubik', sans-serif; */
        
        * {
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }
        
        .section-heading {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            position: relative;
        }
        
        .section-heading h2 {
            font-size: 33px;
            font-weight: 500;
            line-height: 1.17;
            color: #ffffff;
        }
        
        .section-heading .hr-divider {
            width: 120px;
            height: 5px;
            border-radius: 9px;
            background-color: #5100fa;
            margin: 0 auto;
        }
        
        .section-heading p {
            font-size: 25px;
            color: #5100FA;
            margin-bottom: 0;
        }
        
        .section-heading .hr-divider-2 {
            width: 80%;
            background: #3693FF;
            height: 1px;
            margin: 0 auto;
        }
        /* Navbar */
        
        .hero-section nav {
            padding-top: 15px;
        }
        
        .hero-section nav ul li {
            margin-left: 18px;
        }
        /* .hero-section .nav-item.active {
    border: 2px solid #5100FA;
} */
        
        .hero-section nav ul li a {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff !important;
            text-transform: uppercase;
        }
        
        .hero-section nav ul li a.btn.get_in_toch {
            background-color: #5100fa;
            font-family: 'Rubik', sans-serif;
            padding: 8px 20px;
            text-transform: capitalize;
            border-radius: 2px;
        }
        /* Hero section background */
        
        .hero-section {
            background: url(../images/section-1.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .hero-section.realestate {
            position: relative;
            z-index: 0;
            background: url(../images/real-estate/reheo-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .hero-section.realestate .hero_content {
            padding: 200px 0 210px;
        }
        
        .hero-section.realestate::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../images/real-estate/bg-pattern1.svg);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
        /* logo */
        
        a.navbar-brand.logo {
            font-size: 23px;
            font-weight: bold;
            line-height: 1.17;
            color: #ffffff;
        }
        
        .hero_content h1 {
            font-size: 44px;
            font-weight: bold;
            line-height: 1.16;
            text-align: left;
            color: #ffffff;
        }
        
        .hero_content.realestate h1 {
            font-weight: 400;
        }
        
        p.hero-text {
            opacity: 0.51;
            font-size: 21px;
            line-height: 1.33;
            color: #8bc1ff;
        }
        
        a.know-more {
            background-color: #5100fa;
            font-size: 16px;
            color: #ffffff;
            padding: 10px 30px;
            font-weight: 600;
            margin-top: 20px;
            display: inline-block;
        }
        
        .hero_content {
            width: 100%;
            padding: 170px 0px 220px;
        }
        
        .heroinner {
            width: 100%;
            padding: 70px 0 20px 110px;
        }
        /* our clients */
        
        .main-container {
            width: 100%;
            position: relative;
            background-image: linear-gradient(132deg, #250072 35%, #1a01b2 132%);
            z-index: 0;
        }
        
        .main-container.realestate-hiw {
            background: #0e034a !important;
        }
        
        .main-container::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../images/blue-patters.png);
            background-repeat: repeat;
            background-size: 100%;
            z-index: -1;
        }
        
        .our-clients {
            padding: 40px 0;
        }
        
        h1.client-heading {
            font-size: 35px;
            font-weight: 500;
            line-height: 1.17;
            color: #ffffff;
        }
        
        .brand-images {
            width: 100%;
            padding: 20px 0;
        }
        
        .brand-images ul {
            padding: 0;
            margin: 0;
            text-align: center;
        }
        
        .brand-images ul li {
            list-style: none;
            display: inline-block;
            margin: 0 15px;
            padding: 5px;
        }
        /* About us */
        
        .about-us {
            width: 100%;
            padding: 0 0 40px;
            position: relative;
        }
        
        .about-us .about-us-img {
            width: 900px;
            height: auto;
            margin: 0 auto;
            position: relative;
            z-index: 0;
            margin-top: -230px;
        }
        
        .about-us-img img {
            width: 100%;
            position: relative;
        }
        /* .circular-shape {
    background: rgb(81, 0, 250, .2);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.circular-shape.shape1 {
    left: -30%;
    top: -60px;
} */
        /* Services list*/
        
        .services-list {
            width: 100%;
            padding: 0px 45px 0;
            margin: 35px 0 0;
            position: relative;
        }
        
        .services-list::before {
            content: "";
            position: absolute;
            left: 45%;
            top: 0px;
            background: #fff;
            height: 100%;
            width: 1px;
        }
        
        .service-content {
            position: relative;
            padding: 120px 0 0;
        }
        
        .service-content img {
            float: left;
            height: 90px;
            object-fit: cover;
        }
        
        .service-img .first-img {
            width: 85%;
            height: auto;
            object-fit: contain;
        }
        
        .service-content h3,
        .service-content p {
            padding-left: 30px;
        }
        
        .service-img img {
            width: 100%;
            height: 350px;
            object-fit: contain;
        }
        
        .service-content h3 {
            font-size: 32px;
            color: #fff;
            margin-bottom: 10px;
        }
        
        .service-content p {
            font-size: 17px;
            color: #3693FF;
            font-weight: 300;
            width: 80%;
            text-align: left;
            margin-bottom: 0px;
        }
        
        .service-content .circle-dot {
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 100%;
            position: absolute;
        }
        
        .circle-dot.circle-1 {
            left: -87px;
            background-color: #5100FA;
        }
        
        .circle-dot.circle-2 {
            right: 27px;
            background: #F5B95B;
        }
        
        .circle-dot.circle-3 {
            left: -87px;
            background: #2AFFD8;
        }
        
        .circle-dot.circle-4 {
            right: 27px;
            background: #5100FA;
        }
        /* Our products */
        
        .our-products {
            width: 100%;
            padding: 70px 0 110px;
            background-image: linear-gradient(136deg, #250072 18%, #1a01b2 46%);
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
        }
        
        .our-products .section-heading {
            margin-bottom: 75px;
        }
        
        .product-item img {
            width: 100%;
            border-radius: 2px;
        }
        
        .product-item .product-content {
            padding: 20px 0 0;
        }
        
        .product-item .product-content span {
            font-size: 18px;
            font-weight: 300;
            color: #ffffffa1;
        }
        
        .product-item .product-content h3 {
            font-size: 28px;
            color: #fff;
            margin-top: 5px;
        }
        
        .product-item .product-content h3 a {
            font-size: 28px;
            color: #fff;
        }
        /* Shapes */
        
        .circular-shape {
            position: absolute;
            width: 150px;
        }
        
        .circular-shape.shape-1 {
            left: -45px;
            top: -45px;
            transform: rotate(-17deg);
        }
        
        .circular-shape.shape-2 {
            right: 0;
            top: -59px;
        }
        
        .circular-shape.shape-3 {
            top: 60%;
            left: -5%;
            width: 100px;
        }
        
        .circular-shape.shape-4 {
            right: 0;
            top: 21%;
            width: 90px;
        }
        
        .circular-shape.shape-5 {
            right: 0;
            bottom: 40px;
            width: 130px;
        }
        
        .circular-shape.shape-6 {
            left: 10%;
            width: 120px;
        }
        
        .circular-shape.shape-7 {
            left: 0;
            width: 70px;
        }
        
        .circular-shape.ico-shape {
            right: 150px;
            bottom: 50px;
            width: 70px;
        }
        
        .circular-shape.header-shape {
            top: 125px;
            left: 200px;
            width: 100px;
        }
        /* Footer */
        
        .touch {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.16;
            letter-spacing: normal;
            text-align: left;
            color: #5100fa !important;
        }
        
        .tchtext {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        
        .touch1 {
            margin-left: 6px;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: 1.21px;
            text-align: left;
            color: #3693ff;
        }
        
        .footernav {
            padding-top: 41px;
        }
        
        .footernav li {
            padding-left: 0.5em;
            font-weight: 400 !important;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 1.21px;
            text-align: left;
            color: #3693ff;
            list-style-type: none;
            font-weight: 300 !important;
        }
        
        .address {
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 300 !important;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.53;
            letter-spacing: 1.21px;
            text-align: left;
            color: #3693ff;
            margin-left: 15px;
        }
        
        .min-foot {
            padding: 14px 0;
            background-image: linear-gradient(47deg, #250072 -38%, #1a01b2 62%);
            border-top: 1px solid #3693ff;
        }
        
        .copyright {
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 4.35;
            letter-spacing: normal;
            text-align: left;
            color: #3693ff;
        }
        
        .minnav li {
            display: inline;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 4.35;
            letter-spacing: 1.07px;
            text-align: left;
            color: #3693ff;
            padding: 5px;
        }
        
        .copyright a {
            color: #3693ff;
        }
        
        .footlogo {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-left: 15px;
        }
        
        .footer {
            /*background-color: #e5474b;*/
            background-image: linear-gradient(47deg, #250072 -38%, #1a01b2 62%);
            color: #f2a3a5;
            padding: 4em 0 2em 0;
            /*background: #e5474b;*/
        }
        
        #email {
            height: 2.5em;
            backdrop-filter: blur(50px);
            background-color: #2b0bf1;
            border: none;
            color: #fff;
            padding: 25px 26px;
        }
        
        .field {
            padding-bottom: 15px;
            width: 80%;
        }
        
        .field input,
        .field textarea {
            width: 100%;
        }
        
        #message {
            border: none;
            background-color: #2b0bf1;
            color: #fff;
            padding: 8px 18px 0px 20px;
        }
        
        .alt {
            border: none;
            font-family: 'Rubik', sans-serif;
            background-color: #2b0bf1;
            padding: 10px 45px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
        }
        
        .minfoot ul {
            margin-bottom: 0px;
        }
        /* Real estate */
        
        .realestate-how-it-works {
            width: 100%;
            padding: 130px 0 50px 0;
        }
        
        .realestate-how-it-works .realestate-how-it-works-wrapper {
            width: 82%;
            padding: 100px 130px;
            margin: 0 auto;
            background: url(../images/real-estate/hiw-blur-bg.jpg)center center/cover no-repeat;
        }
        
        .realestate-how-it-works .realestate-hiw-contentcol {
            width: 100%;
            padding: 41px 0 0 100px;
        }
        
        .realestate-hiw-contentcol h3 {
            font-size: 35px;
            font-weight: 500;
            line-height: 1.17;
            color: #ffffff;
            margin-bottom: 35px;
            position: relative;
        }
        
        .realestate-hiw-contentcol h3::before {
            content: "";
            position: absolute;
            left: -60px;
            top: 0px;
            background: url(../images/real-estate/shape.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 90px;
            width: 40px;
        }
        
        .rs-lisitem-container {
            position: relative;
        }
        
        .rs-lisitem-container::before {
            content: "";
            position: absolute;
            left: -20px;
            top: 10px;
            width: 1px;
            height: 70%;
            background: #fff;
        }
        
        .rs-lisitem-container .rs-listitem {
            position: relative;
            padding: 0 70px 0 0;
            margin-bottom: 23px;
        }
        
        .rs-listitem::before {
            content: "";
            position: absolute;
            left: -27px;
            top: 5px;
            width: 15px;
            height: 15px;
            background: #F5B95B;
            border-radius: 100%;
        }
        
        .rs-lisitem-container .rs-listitem h4 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.96;
            color: #ffffff;
        }
        
        .rs-lisitem-container .rs-listitem p {
            font-size: 14px;
            line-height: 1.4;
            color: #3693ff;
            font-weight: 300;
        }
        
        .recent-ico {
            position: relative;
            width: 100%;
            padding: 50px 0 160px 0;
        }
        
        .recent-ico .section-heading {
            margin-bottom: 70px;
        }
        
        .recent-ico .recent-ico-divider {
            width: 123px;
            height: 4px;
            border-radius: 9px;
            background-color: #5100fa;
            margin: 0 auto;
        }
        
        .recent-ico-wrapper {
            width: 82%;
            padding: 0 0;
            margin: 0 auto;
        }
        
        .recent-ico-col {
            position: relative;
            padding: 25px 25px;
            background: url(../images/real-estate/recent-ico-bg.png);
            background-repeat: no-repeat;
            background-size: auto;
        }
        
        .recent-ico-col .live-label {
            position: absolute;
            right: 25px;
            top: 25px;
        }
        
        .recent-ico-col .live-label span {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            color: #9effcf;
            padding-right: 5px;
        }
        
        .recent-ico-col .ico-img-holder {
            width: 100%;
            text-align: center;
            padding: 50px 0 50px;
        }
        
        .ico-img-holder img {
            width: 175px;
            object-fit: cover;
        }
        
        .recent-ico-col .recent-ico-data {
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 3px 0 3px;
            border-style: solid;
            border-color: #F5F7FA85;
            padding: 25px 0;
            margin: 0 0;
        }
        
        .recent-ico-col .recent-ico-data .recent-project-value {
            padding: 10px 30px 0 20px;
            text-align: left;
            border-right: 3px solid #F5F7FA85;
        }
        
        .recent-ico-col .recent-ico-data .recent-project-value span,
        .recent-ico-col .recent-ico-data .recent-project-period span {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
        }
        
        .recent-ico-col .recent-ico-data .recent-project-value p,
        .recent-ico-col .recent-ico-data .recent-project-period p {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.46;
            color: #ffffff;
            margin-top: 10px;
        }
        
        .recent-ico-col .recent-ico-data .recent-project-period {
            padding: 10px 20px 0 30px;
            text-align: left;
        }
        
        .recent-ico-col .recent-ico-action-container {
            padding: 30px 0 20px;
            text-align: center;
        }
        
        .recent-ico-col .recent-ico-action-container button {
            padding: 10px 30px;
            background: #5100FA;
            border-radius: 2px;
            color: #fff;
            font-size: 16px;
            text-align: center;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 1.5;
        }
        
        .our-products.realestate-op {
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            background-image: linear-gradient(136deg, #250072 18%, #090040 46%);
        }
        
        .footer.rs-footer,
        .rs-min-footer {
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            background-image: linear-gradient(121deg, #250072 11%, #090040 36%) !important;
        }
        /* Responsive queries */
        
        @media (max-width: 768px) {
            .hero_content h1 {
                font-size: 30px;
            }
            .heroinner {
                width: 100%;
                padding: 10px 20px 20px 20px;
            }
            .hero_col_img {
                margin-top: 40px;
            }
            .brand-images ul li {
                width: 30%;
            }
            .brand-images ul li img {
                width: 100%;
            }
            .section-heading h2 {
                font-size: 25px;
            }
            .section-heading .hr-divider {
                height: 3px;
            }
            .about-us .about-us-img {
                margin-top: 0;
                padding: 30px;
            }
            .service-img.pr-5 {
                padding-right: 0px !important;
            }
            .service-content h3 {
                font-size: 22px;
                color: #fff;
            }
            .service-content p {
                font-size: 14px;
                width: 100%;
            }
            .service-content {
                padding: 50px 0 0;
            }
            .service-img img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            .services-list::before {
                left: 20px;
            }
            .service-content .circle-dot {
                width: 20px;
                height: 20px;
            }
            .circle-dot.circle-3,
            .circle-dot.circle-2,
            .circle-dot.circle-4,
            .circle-dot.circle-1 {
                left: -34px;
            }
            .our-products .product-item {
                margin-bottom: 30px;
            }
            .circular-shape {
                position: absolute;
                width: 100px;
            }
            .field input,
            .field textarea {
                width: 100%;
            }
            .circular-shape.shape-6 {
                width: 70px;
            }
            .circular-shape.shape-3 {
                top: 58%;
                left: 5%;
                width: 70px;
            }
            .circular-shape.shape-4 {
                right: 0;
                top: 17%;
                width: 60px;
            }
            .hero-section .navbar-toggler {
                background: #fff;
            }
            .copyright,
            .minnav li {
                line-height: normal;
            }
            .our-products {
                padding: 70px 0 50px;
            }
            .field {
                width: 100%;
            }
            .footer form {
                margin-bottom: 30px;
            }
            .realestate-how-it-works .realestate-how-it-works-wrapper {
                width: 90%;
                padding: 60px 15px;
            }
            .realestate-how-it-works .realestate-hiw-contentcol {
                padding: 41px 0 0 35px;
            }
            .rs-lisitem-container .rs-listitem {
                padding: 0 15px 0 0;
            }
            .realestate-hiw-contentcol h3::before {
                left: -30px;
                top: 0px;
                height: 60px;
                width: 40px;
            }
            .recent-ico-col .ico-img-holder {
                padding: 40px 0 40px;
            }
            .recent-ico-col .recent-ico-data {
                padding: 20px 0;
            }
            .recent-ico-col .recent-ico-data .recent-project-value {
                padding: 10px 20px 0 20px;
            }
            .recent-ico-col .recent-ico-data .recent-project-period {
                padding: 10px 20px 0 20px;
            }
            .recent-ico-col {
                margin-bottom: 25px;
                background-size: cover;
            }
            .hero-section.realestate .hero_content {
                padding: 100px 0 100px;
            }
            .hero-section.realestate {
                background-position: unset;
                background-color: #0c0045;
            }
            .hero_content.realestate p {
                padding-left: 0;
            }
            .hero_content2 h1 {
                font-size: 30px;
            }
            .main-container-about .heroinner2 {
                padding: 70px 0 20px 20px;
            }
            .main-container-about .heroinner-about p.hero-text {
                padding-left: 0;
            }
            .main-container-about .hero_content2 h1 {
                font-size: 30px;
            }
            .hero-section {
                background-size: inherit;
            }
        }
        
        @media(min-width:769px) and (max-width:1100px) {
            .recent-ico-col {
                background-size: cover;
                margin-bottom: 20px;
            }
            .hero-section.realestate {
                background-color: #0c0045;
            }
        }
        /* -- About us page-- */
        
        .About-rs-lisitem-container {
            position: relative;
        }
        
        .About-rs-lisitem-container::before {
            content: "";
            position: absolute;
            left: 7px;
            top: 25px;
            width: 1px;
            height: 70%;
            background: #fff;
        }
        
        .About-rs-lisitem-container .About-rs-listitem {
            position: relative;
        }
        
        .About-rs-listitem::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 12px;
            width: 15px;
            height: 15px;
            background: #F5B95B;
            border-radius: 100%;
        }
        
        .About-rs-listitem h4 {
            margin-left: 30px;
            font-family: Poppins;
            font-size: 21px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.96;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        
        .About-rs-listitem p {
            margin-left: 30px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: #3693ff;
            /*width: 430px;*/
        }
        /* Navbar */
        
        .hero-section-about nav {
            padding-top: 15px;
        }
        
        .hero-section-about nav ul li {
            margin-left: 18px;
        }
        /* .hero-section .nav-item.active {
    border: 2px solid #5100FA;
} */
        
        .hero-section-about nav ul li a {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff !important;
            text-transform: uppercase;
        }
        
        .hero-section-about nav ul li a.btn.get_in_toch {
            background-color: #5100fa;
            font-family: 'Rubik', sans-serif;
            padding: 8px 20px;
            text-transform: capitalize;
            border-radius: 2px;
        }
        /* Hero section background */
        
        .hero-section-about {
            background-image: linear-gradient(49deg, #250072 35%, #1a01b2 93%);
        }
        /* logo */
        
        a.navbar-brand.logo {
            font-size: 23px;
            font-weight: bold;
            line-height: 1.17;
            color: #ffffff;
        }
        
        .hero_content h1 {
            font-family: Poppins;
            font-size: 33px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        
        .hero_content2 h1 {
            font-family: Poppins;
            font-size: 37px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding-bottom: 20px;
        }
        
        .hero_col_img {
            /*width: 500px;*/
            text-align: center;
        }
        
        .hero_col_img1 {
            /*width: 430px;*/
        }
        
        .heroinner-about p.hero-text {
            opacity: 0.51;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.82;
            letter-spacing: normal;
            text-align: left;
            color: #8bc1ff;
            padding-left: 50px;
        }
        
        .hero_content h2 {
            opacity: 0.12;
            font-family: Poppins;
            font-size: 36px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            padding-left: 43px;
        }
        
        .hero_content2 h2 {
            font-family: Poppins;
            font-size: 36px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            opacity: 0.12;
            position: relative;
        }
        
        .hero_content2 h1:before {
            content: "";
            position: absolute;
            left: 9px;
            top: 55px;
            background: url(../images/aboutus/before-style.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 130px;
            width: 40px;
        }
        
        .hero_content img {
            float: left;
            height: 120px;
            object-fit: cover;
            margin-right: 19px;
        }
        
        .hero_content2 img {
            float: left;
            height: 158px;
            object-fit: cover;
        }
        
        .hero_content2 {
            width: 100%;
            padding: 0px 39px 0px 60px;
        }
        
        .heroinner-about {
            width: 100%;
            padding: 70px 110px 20px 110px;
        }
        
        .heroinner2 {
            width: 100%;
            padding: 70px 0 20px 110px;
        }
        
        .hero_content2 span {
            font-family: Poppins;
            font-size: 19px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.96;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        /* our clients */
        
        .main-container-about {
            width: 100%;
            position: relative;
            background-image: linear-gradient(132deg, #250072 35%, #1a01b2 132%);
        }
        
        .main-container-about::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../images/blue-patters.png);
            background-repeat: repeat;
            background-size: 100%;
            z-index: 0;
        }
        
        .our-products-aboutus {
            width: 100%;
            padding: 70px 0 110px;
            backdrop-filter: blur(50px);
            background-image: linear-gradient(136deg, #250072 18%, #1a01b2 46%);
        }
        
        .our-products-aboutus .section-heading-about {
            margin-bottom: 75px;
        }
        
        .section-heading-about {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            position: relative;
        }
        
        .section-heading-about p {
            font-family: Poppins;
            font-size: 29px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            /*text-align: left;*/
            color: #5100fa;
        }
        
        .section-heading-about h2 {
            font-family: Poppins;
            font-size: 33px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
        
        .product-item-about img {
            width: 100%;
            border-radius: 2px;
        }
        
        .product-item-about .product-content-about {
            padding: 20px 0 0;
        }
        
        .product-item-about .product-content-about span {
            font-size: 18px;
            font-weight: 300;
            color: #ffffffa1;
        }
        
        .product-item-about .product-content-about h3 {
            font-size: 28px;
            color: #fff;
            margin-top: 5px;
        }
        
        .product-item-about .product-content-about h3 a {
            font-size: 28px;
            color: #fff;
        }
        /* Shapes */
        
        .circular-shape-about {
            position: absolute;
            width: 150px;
        }
        
        .circular-shape-about.shape-1 {
            left: -66px;
            top: -68px;
            transform: rotate(-5deg);
        }
        
        .circular-shape-about.shape-2 {
            right: 0px;
            top: 270px;
        }
        
        .circular-shape-about.shape-3 {
            top: 60%;
            left: -5%;
            width: 100px;
        }
        
        .circular-shape-about.shape-4 {
            right: 0;
            top: 21%;
            width: 90px;
        }
        
        .circular-shape-about.shape-5 {
            right: 0;
            bottom: 40px;
            width: 130px;
        }
        
        .circular-shape-about.shape-6 {
            left: 10%;
            width: 120px;
        }
        
        .circular-shape-about.shape-7 {
            left: 0;
            width: 70px;
        }
        /* Footer */
        
        .touch {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.16;
            letter-spacing: normal;
            text-align: left;
            color: #5100fa !important;
        }
        
        .tchtext {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        
        .touch1 {
            margin-left: 6px;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: 1.21px;
            text-align: left;
            color: #3693ff;
        }
        
        .footernav {
            padding-top: 41px;
        }
        
        .footernav li {
            padding-left: 0.5em;
            font-weight: 400 !important;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-stretch: normal;
            line-height: 2.6em;
            letter-spacing: 1.21px;
            text-align: left;
            color: #3693ff;
            list-style-type: none;
            font-weight: 300 !important;
        }
        
        .address {
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 300 !important;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.53;
            letter-spacing: 1.21px;
            text-align: left;
            color: #3693ff;
            margin-left: 15px;
        }
        
        .min-foot {
            padding: 14px 0;
            background-image: linear-gradient(47deg, #250072 -38%, #1a01b2 62%);
            border-top: 1px solid #3693ff;
        }
        
        .copyright {
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 4.35;
            letter-spacing: normal;
            text-align: left;
            color: #3693ff;
        }
        
        .minnav li {
            display: inline;
            font-family: 'Rubik', sans-serif;
            font-size: 15px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 4.35;
            letter-spacing: 1.07px;
            text-align: left;
            color: #3693ff;
            padding: 5px;
        }
        
        .copyright a {
            color: #3693ff;
        }
        
        .footlogo {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-left: 15px;
        }
        
        .footer {
            /*background-color: #e5474b;*/
            background-image: linear-gradient(47deg, #250072 -38%, #1a01b2 62%);
            color: #f2a3a5;
            padding: 4em 0 2em 0;
            /*background: #e5474b;*/
        }
        
        #email {
            height: 2.5em;
            backdrop-filter: blur(50px);
            background-color: #2b0bf1;
            border: none;
            color: #fff;
            padding: 25px 26px;
        }
        
        .field {
            padding-bottom: 15px;
            width: 80%;
        }
        
        .field input,
        .field textarea {
            width: 100%;
        }
        
        #message {
            border: none;
            background-color: #2b0bf1;
            color: #fff;
            padding: 8px 18px 0px 20px;
        }
        
        .alt {
            border: none;
            font-family: 'Rubik', sans-serif;
            background-color: #2b0bf1;
            padding: 10px 45px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
        }
        
        .minfoot ul {
            margin-bottom: 0px;
        }
        /* Responsive queries */
        
        @media (max-width: 768px) {
            .hero_content {
                padding: 100px 10px 100px;
            }
            .hero_content2 {
                padding: 0;
            }
            .hero_content2 h1:before {
                left: -44px;
            }
            .main-contact-from .form-container {
                padding: 50px 20px;
            }
        }
        
        @media (max-width: 768px) {
            .hero_content h1 {
                font-size: 30px;
            }
            .heroinner-about {
                width: 100%;
                padding: 10px 20px 20px 20px;
            }
            .hero_col_img {
                margin-top: 40px;
            }
            .brand-images ul li {
                width: 30%;
            }
            .brand-images ul li img {
                width: 100%;
            }
            .section-heading h2 {
                font-size: 25px;
            }
            .section-heading .hr-divider {
                height: 3px;
            }
            .about-us .about-us-img {
                margin-top: 0;
                padding: 30px;
            }
            .service-img.pr-5 {
                padding-right: 0px !important;
            }
            .service-content h3 {
                font-size: 22px;
                color: #fff;
            }
            .service-content p {
                font-size: 14px;
                width: 100%;
            }
            .service-content {
                padding: 50px 0 0;
            }
            .service-img img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
            .services-list::before {
                left: 20px;
            }
            .service-content .circle-dot {
                width: 20px;
                height: 20px;
            }
            .circle-dot.circle-3,
            .circle-dot.circle-2,
            .circle-dot.circle-4,
            .circle-dot.circle-1 {
                left: -34px;
            }
            .our-products .product-item {
                margin-bottom: 30px;
            }
            .circular-shape {
                position: absolute;
                width: 100px;
            }
            .field input,
            .field textarea {
                width: 100%;
            }
            .circular-shape.shape-6 {
                width: 70px;
            }
            .circular-shape.shape-3 {
                top: 58%;
                left: 5%;
                width: 70px;
            }
            .circular-shape.shape-4 {
                right: 0;
                top: 17%;
                width: 60px;
            }
            .hero-section-about .navbar-toggler {
                background: #fff;
            }
            .copyright,
            .minnav li {
                line-height: normal;
            }
            .our-products {
                padding: 70px 0 50px;
            }
            .field {
                width: 100%;
            }
            .footer form {
                margin-bottom: 30px;
            }
        }
        /* -- Contact us-- */
        
        .main-container-contact {
            width: 100%;
            position: relative;
            background-image: linear-gradient(132deg, #250072 35%, #1a01b2 132%);
        }
        
        .main-container-contact .navbar-toggler {
            background: #fff;
        }
        
        .main-container-contact::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(../images/blue-patters.png);
            background-repeat: repeat;
            background-size: 100%;
            z-index: 0;
        }
        
        .contact-from {
            width: 100%;
            padding: 100px 0;
        }
        
        .contact-from .contact-form-row {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }
        
        .main-contact-from {
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            background-color: #330297;
        }
        
        .contactfrom-heading {
            padding-top: 45px;
        }
        
        .contactfrom-heading h2 {
            font-family: 'Rubik', sans-serif;
            font-size: 38px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.09;
            letter-spacing: -0.86px;
            text-align: center;
            color: #ffffff;
        }
        
        .divider {
            width: 125px;
            height: 3px;
            background-color: #ffffff;
            margin-left: 24px;
            margin-bottom: 10px;
            margin: 0px auto;
        }
        
        .form-container {
            padding: 50px;
        }
        
        .form-container .form-label {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.48;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        
        .form-container .form-control {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            color: #ffffff;
            border: none;
            padding: 15px 20px !important;
            height: 50px;
            border-radius: 6px;
            margin-bottom: 20px;
            opacity: 0.7;
            background-color: #5100fa;
        }
        
        #form-submit {
            background-color: #6253ff;
            border-radius: 20px;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.91;
            letter-spacing: -0.46px;
            color: #ffffff;
            padding: 10px 45px;
            border: none;
            margin-top: 15px;
        }
        
        .footer-contact {
            position: relative;
            width: 100%;
            padding: 40px 130px;
            background-image: linear-gradient(100deg, #1b0054 -51%, #1a01b2 253%);
            z-index: 0;
        }
        
        .footer-contact-col {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .contact-icon {
            position: relative;
            margin-right: 15px;
        }
        
        .footer-contact-col .contact-icon img {
            width: 40px;
        }
        
        .footer-contact-col .contact-content {
            position: relative;
        }
        
        .footer-contact-col p {
            font-size: 14px;
            line-height: 1.11;
            letter-spacing: normal;
            color: #ffffff;
            font-weight: 300;
            margin-bottom: 0;
        }
        
        .images-contact img {
            margin-left: 100px;
            width: 400px;
        }
        
        .hero-section-contact nav ul li a {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff !important;
            text-transform: uppercase;
        }
        
        .hero-section-contact nav ul li a.btn.get_in_toch {
            background-color: #5100fa;
            font-family: 'Rubik', sans-serif;
            padding: 8px 20px;
            text-transform: capitalize;
            border-radius: 2px;
        }
        
        .hero-section-contact nav {
            padding-top: 15px;
        }
        
        .hero-section-contact nav ul li {
            margin-left: 18px;
        }
        
        .footer-contact-col p a {
            font-size: 17px;
            line-height: 1.11;
            letter-spacing: normal;
            color: #ffffff;
            font-family: 'Rubik', sans-serif;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.79;
            letter-spacing: 0.28px;
            text-align: left;
            color: #ffffff;
        }
        
        .main-contact-from .form-container form .form-group .form-control::placeholder {
            color: #ffffff !important;
            opacity: 0.7;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
        }
        
        @media (max-width: 768px) {
            .images-contact img {
                margin-left: 0;
                width: 100%;
            }
            .footer-contact-col {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
            }
            .footer-contact {
                padding: 40px 20px;
            }
        }